
.ipynb_checkpoints/bla_new-checkpoint.ipynb
.ipynb_checkpoints/bla22-checkpoint.ipynb
.ipynb_checkpoints/bla22-checkpoint.ipynb
.idea/workspace.xml
.ipynb_checkpoints/Folketinget_text-checkpoint.ipynb
